<h1>Editing post hot</h1>

<%= turbo_frame_tag @post_hot, style: 'border: 3px solid red' do %>
  <%= render "form", post_hot: @post_hot %>
<% end %>

<br>

<div>
  <%= link_to "Show this post hot", @post_hot %> |
  <%= link_to "Back to post hots", post_hots_path %>
</div>
