<h1>New post hot</h1>
<%= turbo_frame_tag 'post_hots', style: 'border: 3px solid black' do %>
  <%= render "form", post_hot: @post_hot %>
<% end %>
<br>

<div>
  <%= link_to "Back to post hots", post_hots_path %>
</div>
