<h1>Editing post hotter</h1>

<%= render "form", post_hotter: @post_hotter %>

<br>

<div>
  <%= link_to "Show this post hotter", @post_hotter %> |
  <%= link_to "Back to post hotters", post_hotters_path %>
</div>
