<p style="color: green"><%= notice %></p>

<h1>Post hotters</h1>

<div id="post_hotters">
  <% @post_hotters.each do |post_hotter| %>
    <%= render post_hotter %>
  <% end %>
</div>
<%= turbo_frame_tag PostHotter.new, style: 'border: 3px solid green' %>

<%= link_to "New post hotter", new_post_hotter_path, "data-turbo-frame": dom_id(PostHotter.new) %>
