<h1>New post hotter</h1>
<%= turbo_frame_tag PostHotter.new, style: 'border: 3px solid green' do %>
  <%= render "form", post_hotter: @post_hotter %>
<% end %>
<br>

<div>
  <%= link_to "Back to post hotters", post_hotters_path %>
</div>
