<h1>Editing post hottest</h1>
<%= turbo_frame_tag @post_hottest, style: 'border: 3px solid red' do %>
  <%= render "form", post_hottest: @post_hottest %>
<% end %>
<br>

<div>
  <%= link_to "Show this post hottest", @post_hottest %> |
  <%= link_to "Back to post hottests", post_hottests_path %>
</div>
