<h1>New post hottest</h1>
<%= turbo_frame_tag PostHottest.new, style: 'border: 3px solid green' do %>
  <%= render "form", post_hottest: @post_hottest %>
<% end %>
<br>

<div>
  <%= link_to "Back to post hottests", post_hottests_path %>
</div>
